<div class="header">
<h2><%= link_to 'ホーム', status_list_path %></h2>
<h2>案件管理</h2>
<h2><%= link_to '進出先を探す', new_search_conditions_path %></h2>
<h2>お問い合わせ</h2>
</div>

<div class="status_list">
<h2>ステータス一覧</h2>
<h4>受信オファー数</h4>
<h4>面談数</h4>
<h4>成約数</h4>
<h4>オファー未回答</h4>
<h4>進行中の案件</h4>
<h3>◯◯県<a href="https://www.pref.shimane.lg.jp/">特集ページ</a> <p>未読</p> <button><a href="">オファー詳細</a></button> <button><a href="">メッセージ</a></button> </h3>
<h3>〇〇県 <a href="https://www.pref.tottori.lg.jp/">特集ページ</a> <p>未回答</p> <button><a href="">オファー詳細</a></button> <button><a href="">メッセージ</a></h3>

<h2>面談予定</h2>
<table>
    <th>
        <tr>
            <td>日程</td>
            <td>時間</td>
            <td>お相手</td>
            <td>タイトル</td>
            <td>URL</td>
        </tr>
    <th>
    <tr>
        <td>7月8(金)</td>
        <td>11:00-12:00</td>
        <td>〇〇県様</td>
        <td>概要紹介</td>
        <td><a href="">https://</a></td>
    </tr>
    <tr>
        <td>7月12(火)</td>
        <td>14:00-15:00</td>
        <td>◯◯県様</td>
        <td>手続き説明</td>
        <td><a href="">https://</a></td>
    </tr>
</table>

<h2>新着ニュース</h2>
<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>
<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>
<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>

<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>
<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>
<div>
    <p>記事タイトル</p>
    <p>発信元</p>
</div>
</div>