
<main>
<div class="main_container">
    <h1 class="center">しんきかんいんとうろく</h1>

    <%
=begin%>
 <div class="koumoku"> 
<%
=end%>
    
    <div class="coop_name">
        <h3>会社名</h3>
        <input type="text" style="width:100%">
    </div>

    <div class="coop_url">
        <h3>会社URL</h3>
        <input type="text" style="width:100%">
    </div>

    <div class="phone_number">
        <h3>電話番号</h3>
        <input type="text" style="width:100%">
    </div>

    <div class="pic_name">
        <h3>担当者名</h3>
        <input type="text" style="width:100%">
    </div>

    <div class="mail_address">
        <h3>メールアドレス</h3>
        <input type="text" style="width:100%">
    </div>

    <div class="password">
        <h3>パスワード</h3>
        <input type="text" style="width:100%">
    </div>
    <%
=begin%>
 </div> 
<%
=end%>
<a href="" class="btn btn--red btn--radius btn--cubic">会員登録（無料）<i class="fas fa-angle-right fa-position-right"></i></a>
    <%
=begin%>
 <input type="button" class="coop_regist_button" value="会員登録（無料）"> 
<%
=end%>
</div>
<main>